.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #00BCD4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #B2EBF2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block-item {
  color: #00BCD4;
}

.transaction-list {
  margin-bottom: 50px;
}

.transactions-empty {
  margin-top: 10px;
}

.transaction-card {
  margin-top: 10px;
  text-align: left;
}

.transaction-text{
  font-size: 20px;
  color: #212121;
}
.transaction-element-left, .transaction-element-left {
  padding-left: '0px';
}

.transaction-element-left {
  text-align: left;
}

.transaction-element-right {
  text-align: right;
}

.filter-message {
  font-size: 3.1vmin;
}

.arrow-left {
  padding-bottom: 10px;
}